DATABASE_URL=postgresql://neondb_owner:****************@ep-steep-queen-avrmvb1l-pooler.c-11.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=9dK2mL8xQp7RzA4sTn5YvW1bH6cJ3fNeP8qLmX0u
CORS_ORIGINS=http://localhost:5173
