DATABASE_URL=postgresql://neondb_owner:npg_5AIslbTShP1Q@ep-steep-queen-avrmvb1l-pooler.c-11.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=iWrDvoCflpQmvTOGSVe49i6-kKQIT47JnutqkxgDPBI
CORS_ORIGINS=http://localhost:5173
